<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="東京ミロンガ倶楽部">
<meta name="viewport" content="width=device-width">
<title>東京ミロンガ倶楽部</title>
<link rel="stylesheet" href="static/css/form.css">
<link rel="stylesheet" href="static/css/images.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");
        form.addEventListener("submit", function() {
            const button = document.querySelector(".btn_submit");
            button.disabled = true;
            button.style.opacity = "0.5";
        });
    });
    </script>
<body>
    <div class="box_con04">
        <p>
            <img src="static/images/milonga_the_world_omote.jpg" width="450"alt=""><img src="static/images/milonga_the_world_ura.jpg" width="450" lt="">
        </p>
        
        <form method="post" action="/">

            <ul class="formTable">
                <li>
                    <p class="title"><em>お名前<span>必須</span></em></p>
                    <div class="box_det"><input size="20" type="text" class="wide" name="name" required=True /></div>
                </li>
                <li>
                    <p class="title"><em>人数<span>必須</span></em></p>
                    <div class="box_det"><input size="5" type="number" class="wide" name="number_of_people" min="1" required /></div>
                </li>
                <li>
                    <p class="title"><em>住所</em></p>
                    <div class="box_det"><input size="30" type="text" class="wide" name="address"/></div>
                </li>
                <li>
                    <p class="title"><em>電話番号</em></p>
                    <div class="box_det"><input size="30" type="tel" class="wide" name="phone"/></div>
                </li>
                <li>
                    <p class="title"><em>メールアドレス<span>必須</span></em></p>
                    <div class="box_det"><input size="30" type="email" class="wide" name="email" required=True/></div>
                </li>
            </ul>
            <div>
                <button class="btn_submit" name="btn_submit" type="submit">予約／確認</button>
            </div>
        </form>
    </div>
<br>
</body>
</html>
