<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="東京ミロンガ倶楽部">
<meta name="viewport" content="width=device-width">
<title>東京ミロンガ倶楽部</title>
<link rel="icon" type="image/png" sizes="16x16"  href="static/images/favicon-16x16.png">
<link rel="stylesheet" href="static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="static/js/script.js"></script>
</head>

<body>
<div class="bg_pattern Polka_v2"></div>
<nav id="mainnav">
	<div class="panel">
		<ul>
			<li><a href="#header">TOP</a></li>
			<li><a href="#sec_vision">VISION</a></li>
			<li><a href="#sec_event">EVENT</a></li>
			<li><a href="#sec_profile">PROFILE</a></li>
		</ul>
	</div>
</nav>

<header id="header">
	<img src="static/images/mainImg.jpg" alt="">
	<div id="slogan">
		<h1>Tokyo Milonga Club</h1>
		<h2>東京ミロンガ倶楽部</h2>
	</div>
</header>

<div class="content">


<!-- VISION -->
<section id="sec_vision">
	<header>
		<header>
			<h2>VISION</h2>
		</header>
	</header>
	<div class="col1">
		私たちは東京でのタンゴ文化の発展を目的とした任意団体であり、不定期にてタンゴのダンスパーティ（以下ミロンガと呼ぶ）を開催しております。
		<br>
		また、協力関係にあるインストラクタの方と共にタンゴ文化発展の為、入門者向けのレッスンの開催及び各種イベントを共同開催しております。
	</div>

	<div class="inner">
		<ul class="col3">
			<li>
				<img src="static/images/dance_001.png" width="288" height="288" alt="">
			</li>
			<li>
				<img src="static/images/party_001.png" width="288" height="288" alt="">
			</li>
			<li>
				<img src="static/images/morgado_001.png" width="288" height="288" alt="">
			</li>
		</ul>
	</div>
</section>
<!-- // VISION -->


<!-- EVENT -->
<section id="sec_event">
	<header>
		<h2>EVENT</h2>
	</header>
	<div class="col1">
        <p>
            <img src="static/images/milonga_the_world_omote.jpg" width="450"alt=""><img src="static/images/milonga_the_world_ura.jpg" width="450" lt="">
        </p>
	</div>
	<div class="inner">
		
		<ul class="col3">
			<li>
				<a href="/event"><img src="static/images/aff2_logo.png" alt="AFF2"></a>
			</li>
		</ul>
	</div>
</section>
<!-- // EVENT -->

<!-- PROFILE -->
<section id="sec_profile">
	<header>
		<h2>PROFILE</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<h3>団体名</h3>
				<dd>東京ミロンガ倶楽部</dd>
			</li>
			<li>
				<h3>代表</h3>
				<dd>岡本　直樹</dd>
			</li>
			<li>
				<h3>メール</h3>
				<dd>tokyo.milonga.club@gmail.com</dd>
			</li>
			<li>
				<h3>設立</h3>
				<dd>2022年1月1日</dd>
			</li>
			<li>
				<h3>資本金</h3>
				<dd>5,000,000円</dd>
			</li>
			
		</ul>
	</div>
</section>
<!-- // PROFILE -->
</div>
</body>
</html>